<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeeMoreTextview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11E0723A1D64430400D1F2BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E0724E1D64430500D1F2BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E072591D64430500D1F2BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
